.pageContainer{
  width: 1280px;
  height: 600px;
  margin: 30px auto;
  overflow: hidden;
}
.listTypes{
  float: left;
  width: 240px;
  height: 100%;
  border-top: 1px solid #f2f2f3;
  border-right: 1px solid #f2f2f3;
  a{
    display: block;
    height: 60px;
    color: #666;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    background-color: #fdfdfe;
    border-bottom: 1px solid #f2f2f3;
    &:hover{
      background-color: #f6f6f7;
    }
    &.active{
      color: #3498DB;
      background-color: #fff;
      box-shadow: 1px 0 0 #fff;
    }
  }
}