.right-sidebar{
    position: absolute;
    z-index: 1020;
    top: 70px;
    right: 0;
    bottom: 0;
    width: 280px;
    overflow: auto;
    background-color: #fff;
    border-left: 1px solid #eee;
}

.widget{
    border-bottom: 10px solid #f8f7f6;
    &:last-child{
        border-bottom: none;
    }
}
.hide-widget{
    .widget-caption{
        margin-bottom: 0;
    }
    .widget-body{
        display: none;
    }
}

.widget-caption{
    position: relative;
    height: 40px;
    margin: 0 0 10px 0;
    padding: 0 20px;
    color: #666;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.toggle-widget{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: #999;
    font-size: 12px;
}
.group-line{
    height: 1px;
    margin: 0 -20px 10px -20px;
    background-color: #eee;
    clear: both;
}
.widget-body{
    padding: 0 20px;
}
.opiton-label{
    display: block;
    height: 20px;
    color: #888;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    clear: both;
}

.text-option{
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    margin: 5px 0 10px 0;
    padding: 0 5px;
    font-family: Monaco, 'Terminal';
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    &:focus{
        border-color: #3498DB;
    }
    &.error{
        border-color: #E74C3C;
    }
    &[type="color"]{
        padding: 0;
        background-color: #fff;
        border: none;
    }
    &.textarea{
        padding: 5px;
        height: 5em;
        resize: none;
    }
}
.select-option{
    width: 100%;
    margin: 5px 0 10px 0;
}
.file-option-wrap{
    position: relative;
    width: 100%;
    height: 40px;
    span{
        display: block;
        height: 40px;
        margin-right: 40px;
        overflow: hidden;
        color: #999;
        line-height: 40px;
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
    }
    button{
        position: relative;
        z-index: 3;
        float: right;
        width: 40px;
        height: 40px;
        color: #999;
        &:hover{
            color: #E74C3C;
        }
    }
    input[type="file"]{
        position: absolute;
        z-index: 2;
        top: 0;
        right: 40px;
        bottom: 0;
        left: 0;
        opacity: 0;
        &:hover + span{
            color: #3498DB;
        }
    }
}

.option-page-type{
    overflow: hidden;
    margin: 10px 0;
    text-align: center;
    button{
        display: block;
        width: 100px;
        height: 40px;
        margin: 0;
        color: #999;
        font-size: 14px;
        font-weight: bold;
        border: 1px solid #ccc;
        border-radius: 3px;
        &:first-child{
            float: left;
        }
        &:last-child{
            float: right;
        }
    } 
}

.bg-red{
    color: red;
}
