.app-header{
    position: relative;
    z-index: 999;
    height: 70px;
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.logo{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    // background-color: #555;
    background-image: url(../../assets/swallow.png);
    background-size: 50px 50px;
    // border: 1px solid #ddd;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 0.5s;
}
.logo:hover {
    transform: rotate(180deg);
}
.header-btns{
    float: right;
    height: 32px;
    margin: 19px 20px 0 0;
    button, a{
        display: block;
        float: left;
        height: 32px;
        padding: 0 15px;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        line-height: 32px;
        text-decoration: none;
        cursor: pointer;
        &:hover{
            box-shadow: inset 0 0 130px rgba(0,0,0,.2);
        }
    }
}
.btn-normal{
    color: #666;
    background-color: #fff;
    margin-right: 15px;
    background-color: #f1f2f2;
    border-radius: 3px;
    &:hover{
        color: #666;
    }
}
.btn-clear{
    color: #fff;
    background-color: #E74C3C;
    margin-right: 5px;
    border-radius: 3px;
}
.btn-save{
    color: #fff;
    background-color: #2EAB63;
    border-right: 1px solid #2EAB63 - 20;
    border-radius: 3px 0 0 3px;
}
.btn-preview{
    color: #fff;
    background-color: #2EAB63;
    border-radius: 0 3px 3px 0;
}
.btn-liveview{
    margin-left: 6px;
    color: #fff;
    background-color: #9b59b6;
    border-radius: 3px;
    &.disabled{
        background-color: #ccc;
        pointer-events: none;
    }
}
.btn-publish{
    margin-left: 6px;
    color: #fff;
    background-color: #3498DB;
    border-radius: 3px;
}

.caption{
    height: 40px;
    margin: 15px 300px;
    overflow: hidden;
    text-align: center;
    h5{
        height: 20px;
        margin: 0;
        color: #666;
        line-height: 20px;
        font-size: 16px;
        font-weight: bold;
    }
    h6{
        height: 20px;
        margin: 0;
        color: #aaa;
        line-height: 20px;
        font-size: 14px;
        font-weight: normal;
    }
}
.copierBox{
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid #f5f5f6;
    a{
        display: inline-block;
        float: left;
        height: 28px;
        margin-right: 10px;
        padding: 0 10px;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        text-decoration: none;
        background-image: linear-gradnent(rgba(#000, 0), rgba(#000, .05));
        border-radius: 3px;
        box-shadow: inset 0 0 2px rgba(#000, .1);
        &:hover{
            opacity: .8;
        }
    }
    .btnCopyUrl{
        color: #fff;
        background-color: #3498DB;
    }
    .btnViewUrl{
        color: #999;
        background-color: #fff;
    }
}
.publicUrl{
    display: block;
    width: 100%;
    height: 36px;
    margin-bottom: 10px;
    padding: 0 10px;
    overflow: hidden;
    color: #666;
    font-size: 14px;
    line-height: 32px;
    font-weight: bold;
    background-color: #fafafb;
    border: 2px dashed #f1f1f2;
}
