.canvas-wrap{
    position: absolute;
    z-index: 1;
    top: 71px;
    right: 280px;
    bottom: 0;
    left: 80px;
    user-select: none;
}
.canvas{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.sketchpad{
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    cursor: crosshair;
    &[data-current-tool='links']{
        display: block;
    }
}
.temp-element{
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(#3498db, .6);
}
.drag-handle{
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: move;
}
.mobile-canvas{
    width: 375px;
    height: 667px;
}
.pc-canvas{
    width: 1920px;
    height: 1080px;
}
.canvas-core{
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #eae9e8;
}
.element-wrapper{
    min-height: 100%;
}
.background-image-element{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.link-element{
    box-sizing: border-box;
    position: absolute;
    z-index: 889;
    resize: both;
    // border: solid 1px rgba(#000, .5);
    outline: solid 1px rgba(#3498db, .6);
    outline-offset: -1px;
    background-clip: padding-box;
    background-color: rgba(#3498db, .1);
    &.active{
        background-color: rgba(#3498db, .5);
        .link-resize-handle{
            background-color: rgba(#3498db, 1);
        }
    }
}
.link-resize-handle{
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(#3498db, .2);
    cursor: se-resize;
}
.highlight .link-element{
    outline-color: rgba(#f39c12, .6);
    background-color: rgba(#f39c12, .1);
    .link-resize-handle{
        background-color: rgba(#f39c12, .2);
    }
    &.active{
        background-color: rgba(#f39c12, .5);
        .link-resize-handle{
            background-color: rgba(#f39c12, 1);
        }
    }
}
.link-drag-handle{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: move;
}
.indicator{
    position: absolute;
    z-index: 2;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 32px;
    background-color: rgba(#000, .8);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(#000, .2);
    button{
        display: block;
        float: left;
        width: 32px;
        height: 32px;
        color: #fff;
        font-size: 14px;
        background-color: transparent;
        border: none;
        border-right: solid 1px rgba(#fff, .3);
        &:hover{
            background-color: #3498DB;
        }
    }
    span{
        display: block;
        float: right;
        width: 67px;
        height: 32px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        line-height: 32px;
        text-align: center;
    }
}