.canvas-wrap{
    position: absolute;
    z-index: 1;
    top: 71px;
    right: 280px;
    bottom: 0;
    left: 80px;
}
.canvas{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    // overflow: hidden;
}
.drag-handle{
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: move;
}
.mobile-canvas{
    width: 355px;
    height: 667px;
}
.pc-canvas{
    width: 1920px;
    height: 1080px;
}
.canvas-core{
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #eae9e8;
}
.elementWrapper{
    min-height: 100%;
}
.backgroundImageElement{
    display: block;
    max-width: 100%;
    height: auto;
}
.linkElement{
    box-sizing: border-box;
    position: absolute;
    z-index: 889;
    resize: both;
    overflow: auto;
    border: solid 3px #333;
    outline: dashed 3px #f39c12;
    outline-offset: -3px;
    &.active{
        background-color: rgba(#3498db,.8);
    }
}
.linkDragHandler{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 15px;
    bottom: 0;
    left: 0;
    cursor: move;
}
.indicator{
    position: absolute;
    z-index: 2;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 32px;
    background-color: rgba(#000, .8);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(#000, .2);
    button{
        display: block;
        float: left;
        width: 32px;
        height: 32px;
        color: #fff;
        font-size: 14px;
        background-color: transparent;
        border: none;
        border-right: solid 1px rgba(#fff, .3);
        &:hover{
            background-color: #3498DB;
        }
    }
    span{
        display: block;
        float: right;
        width: 67px;
        height: 32px;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        line-height: 32px;
        text-align: center;
    }
}